@model IEnumerable<cle_spring_2021_courses.Models.Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<h2>Students</h2>
<hr />

<h3><a href="/Student/Create">Create New Student</a></h3>

<ul>
    @foreach (var student in Model)
    {
        <li><a href="/Student/Update/@student.Id">@student.FullName</a> | <a href="/Student/Delete/@student.Id">Delete Student</a></li>
    }

</ul>



@{
}
