@model cle_spring_2021_courses.Models.Course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course Index</title>
</head>
<body>
    <h1>Courses List</h1>
    <h2>Name: @Model.Name</h2>
    <p>Description: @Model.Description</p>
</body>
</html>
